<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
  </head>
  <body>
  	<p> Hello </p>
  	<button id = "add">add circle</button>
  	<button id = "change">change color</button>
  	<script src="javascripts/messageMan.js" charset="utf-8"></script>
  </body>
</html>